
  <ul>

    {{ range .Site.RegularPages }}
      {{ if eq .Section "pages" }}
        <li class="square">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ if .TableOfContents }}
              <ul>
                {{ $currentPage := . }}
                        {{ .TableOfContents | replaceRE "<a href=\"#(.*?)\">" (printf "<a href=\"%s#%s\">" $currentPage.RelPermalink "$1") | safeHTML }}
                    </ul>
            {{ end }}</li>
      {{ end }}
    {{ end }}
  </ul>

