<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div>
        {{- partial "header.html" . -}}
    </div>
    <section class="Gauche">
        <aside>
          {{ .TableOfContents | replaceRE "(<a.*?)" "$1 class=\"table-of-contents-link\"" | safeHTML }}
        </aside>
      </section>
      
    
    <section class="Centre">
        <div class="content">

        {{- block "main" . }}{{- end }}


        </div>
    </section>

        {{- partial "navigation.html" . -}}
        {{- partial "script.html" . -}}
    </div>
    <section class="Bas">
        <div class="footer">
            {{- partial "footer.html" . -}}
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
          var sectionLinks = $('.table-of-contents-link');
          var sections = $('h1[id], h2[id], h3[id], h4[id], h5[id], h6[id]');
      
          var activeSectionId = null;
          var previousSectionId = null;
      
          $(window).on('scroll', function() {
            updateActiveSection();
          });
      
          sectionLinks.on('click', function(e) {
            e.preventDefault();
      
            var targetSectionId = $(this).attr('href');
      
            activeSectionId = targetSectionId;
            updateActiveSection();
      
            // Mise à jour de l'URL
            history.pushState(null, null, targetSectionId);
      
            // Faire défiler jusqu'à la section cible
            $('html, body').animate({
              scrollTop: $(targetSectionId).offset().top
            }, 500);
          });
      
          // Gestion de l'événement popstate pour mettre à jour la section active lorsque l'URL change
          $(window).on('popstate', function() {
            var targetSectionId = location.hash;
      
            if (targetSectionId) {
              activeSectionId = targetSectionId;
              updateActiveSection();
            }
          });
      
          function updateActiveSection() {
            var currentPosition = $(window).scrollTop() + $(window).height() / 2;
      
            sections.each(function() {
              var sectionId = $(this).attr('id');
              var sectionTop = $(this).offset().top;
              var sectionBottom = sectionTop + $(this).outerHeight();
      
              if (currentPosition >= sectionTop && currentPosition <= sectionBottom) {
                previousSectionId = activeSectionId;
                activeSectionId = '#' + sectionId;
                return false; // Sortir de la boucle each une fois la section actuelle trouvée
              }
            });
      
            sectionLinks.removeClass('active');
      
            if (activeSectionId) {
              sectionLinks.filter('[href="' + activeSectionId + '"]').addClass('active');
            }
      
            if (previousSectionId && previousSectionId !== activeSectionId) {
              sectionLinks.filter('[href="' + previousSectionId + '"]').removeClass('active');
            }
          }
      
          // Vérification de la section active au chargement de la page
          $(window).on('load', function() {
            var initialSectionId = location.hash;
      
            if (initialSectionId) {
              activeSectionId = initialSectionId;
              updateActiveSection();
            }
          });
        });
      </script>
      
    </body>
</html>
